body {
	margin: 30px 200px 65px;
	background-image: url("images/rainbow.jpg");
	background-color: oldlace;
	/*background-repeat: repeat-x;*/
	background-size: 1440px 750px;
	background-attachment: fixed;
	background-position: center;
}
h1 {
	max-width:1000px;
	margin: auto;
	padding: 15px 20px;
	border : 2px solid #319179;
	border-radius: 50px;
	font-family: "century gothic";
	font-size: 2.5vw;
	font-weight: 100;
	/*font-variant: small-caps; */
	text-align: center;
	color : sandybrown;

}

.mini_header{
	padding: 15px;
	text-align: left;
	color : sandybrown;
	font-family: courier;
	font-size: 1.6vw;
	/*font-weight: 50;*/
}

.paragraph {
	color : mediumseagreen;
	background-color: rgba(225, 212, 252, 0.4);
	padding: 10px;
	border-radius: 10px;
	font-family: courier;

}
#links {
	color: #522761;
	padding-right: 10px;
	font-family: trebuchet;
}

#links:hover{
	color: #a64fc4;
}

.list {
	list-style-type: circle;
//comment


}
